.icon-favorite{
  background: url(../img/heart.svg) no-repeat center;
  background-size: cover;
  display: flex;
  width: 18px;
  height: 16px;
  &.white{
    background: url(../img/heart_white.svg) no-repeat center;
  }
}
.grid{
  display: flex;
  flex-wrap: wrap;
  padding: 0 18px;

  &__item{
    width: 50%;
    padding: 6px;
    position: relative;

    .fliter-color{
      display: inline-block;
      position: relative;
      width: 100%;

      .city-color{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0.5;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
      }
    }

    .text{
      font-family: 'Celias-Black';
      color: @white;
      font-size: 11px;
      letter-spacing: 1px;
      position: absolute;
      top: ~"calc(50% - 15px)";
      display: inline-block;
      width: 100%;
      text-align: center;
      text-transform: uppercase;
    }
  }

  img{
    width: 100%;
  }
}

.large-grid {
  padding: 0 0 0 14px;
  display: flex;

  .item{
    min-width: ~"calc(100% - 20px)";
    padding: 6px;
    position: relative;
    color: @white;

    .data{
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 24px 24px 15px;
      width: 100%;
      height: 100%;

      .top{
        display: flex;
        justify-content: space-between;
      }

      h3{
        font-family: 'Mercury TextG';
        font-size: 24px;
        line-height: 1.08;
        width: 75%;
      }

    }

    img{
      width: 100%;
    }
  }
  &.two-slide {
    .item{
      min-width:100%;
    }
  }
}

.user{
  padding: 0 0 0 10px;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;

  .list{
    width: 180px;
    margin: 0 auto;
    padding: 0 0px;
    position: relative;
    font-size: 12px;
    line-height: 1.33;
    text-align: center;

    img{
      width: 100%;
    }

    .name{
      font-family: 'Mercury TextG';
      margin-top: 12px;
    }
    .des{
      font-family: 'Celias_Regular';
      color: @silver;
      font-size: 10px;
      line-height: 1.6;
    }
  }
}

.large-grid-full{
  padding: 0 20px;
  display: flex;
  flex-direction: column;

  .list{
    min-width: 100%;
    position: relative;
    margin-bottom: 15px;

    .content{
      position: absolute;
      color: @white;
      text-align: center;
      height: 100%;
      justify-content: center;
      display: flex;
      flex-direction: column;
      width: 100%;

      h3{
        font-family: 'Mercury_Display_Bold';
        font-size: 32px;
        line-height: 1.19;
        width: 60%;
        margin: auto;
      }

      .bottom{
        font-family: 'Celias_Regular';
        font-size: 11px;
        line-height: normal;
        align-self: center;
        margin-bottom: 23px;
      }

      a{
        color: @white;
        text-decoration: underline;
      }
    }

  }

  img{
    width: 100%;
  }
}
@media (max-width: @phone-landscape) {

  .large-grid{
    padding-left: 0;
    &.two-slide {
      width: 90%;
      margin: 0 auto;

      .owl-stage-outer {
        width: 100%;
        overflow: visible;
      }
    }
  }
}

@media (min-width: @tablet-portrait) {

  .grid{
    padding: 0 16px;

    &__item{
      width: 25%;
      padding: 8px;

      .fliter-color{
        .city-color{
          opacity: 0.5;
        }
      }

    }
  }

  .large-grid{
    padding: 0 16px;

    .item{
      min-width: 50%;
      padding: 8px;

      .data{

        h3{
          font-size: 28px;
          line-height: 1.07;
          width: 75%;
        }
      }

    }
    &.two-slide {
      .item{
        min-width:100%;
      }
    }
  }

  .user{
    padding: 0 0px;

    .list{
      font-size: 16px;
      line-height: 1.25;
      text-align: center;

      img{
        width: 100%;
      }

      .name{
        font-family: 'Mercury TextG';
        margin-top: 26px;
      }
      .des{
        font-family: 'Celias_Regular';
        color: @silver;
        font-size: 11px;
        line-height: 1.82;
      }
    }
    &.owl-carousel {
      width: 90%;
      margin: 0 auto;
      .owl-stage-outer {
        overflow: visible;
      }
    }
  }

  .large-grid-full{
    padding: 0 15px;
    flex-direction: row;
    flex-wrap: wrap;

    .list{
      min-width: ~"calc(50% - 18px)";
      position: relative;
      margin: 0 9px 15px;
      width: ~"calc(50% - 18px)";

      .content{

        h3{
          font-size: 36px;
          line-height: 1.06;
          width: 52%;
          margin: auto;
        }
      }
    }
  }

}

@media (min-width: @tablet-landscape) {
  .grid{

    &__item{
      padding: 10px;

      .fliter-color{
        .city-color{
          opacity: 0;
        }
        &:hover,
        &:focus,
        &:active{
          .city-color{
            opacity: 0.5;
          }
        }
      }
    }

    .text{
      font-size: 14px;
      letter-spacing: 1.3px;
    }
  }
  .user {
    padding: 0 60px;
    &.owl-carousel {
      width: 100%;
      margin: 0 auto;

      .owl-nav {
        display: block;

        button.owl-prev {
          margin-left: 15px;
        }
        button.owl-next {
          margin-right: 15px;
        }
      }
      .owl-stage-outer {
        overflow: hidden;
      }
    }
  }
  .large-grid{
    padding: 0 16px;

    .item{
      min-width: 50%;
      padding: 8px;

      .data{

        h3{
          font-size: 36px;
          line-height: 1.07;
          width: 75%;
        }
        .bottom-text {
          font-size: 14px;
        }
      }
    }
  }
  .large-grid-full{
    .list{
      .content{
        h3{
          font-size: 38px;
        }
      }
    }
  }
}

/*main container*/
.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}
/*main container*/
@media (max-width: 1023px) {
  .over-hide {
    overflow: hidden;
  }
  .user .list {
    width: 100%;
  }
}
